body {
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.image {
    width: 100%;
}

.mui-content {
    margin-top: 10px;
}

.bar-nav-black {
    background: #323232;
    color: #ffffff;
    z-index: 99999;
}

.bar-nav-black .mui-title {
    color: #fff;
}

.mui-bar {
    height: 60px;
}

.logo {
    background: url('../imgs/logo.png') no-repeat;
    background-size: 80px 40px;
    position: absolute;
    width: 94px;
    height: 30px;
    top: 15px;
}

.back {
    background: url('../imgs/back_icon.png') no-repeat;
    background-size: 44px 44px;
    position: absolute;
    width: 94px;
    height: 44px;
    top: 10px;
}

.border-right {
    border-right: 1px solid #eee;
}

.nav-text {
    cursor: pointer;
    margin-top: 20px;
    color: #ffffff;
    font-size: 24px;
}

.nav-user {
    background: url('../imgs/grzx_icon_nor.png') no-repeat;
    background-size: 44px 44px;
    position: absolute;
    right: -20px;
    width: 94px;
    height: 44px;
    top: 5px;
}

.mui-bar .mui-title {
    margin-top: 10px;
    color: #ffffff;
    font-size: 24px;
}

.bg-white {
    background: white;
}

.mui-grid-view.mui-grid-9 {
    background-color: #fff;
}

.mui-grid-view.mui-grid-9-grey {
    background-color: #c8c7cc;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
    border-right: 0px solid #eee;
}

.pad20-t {
    padding-top: 20px;
}

.pad20-r {
    padding-right: 20px;
}

.pad20 {
    padding: 20px;
}

.pad20-b {
    padding-bottom: 20px;
}

.pad10-tb {
    padding: 10px 0px;
}

.color-black {
    color: black;
}

.font18 {
    font-size: 18px;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.font20 {
    font-size: 20px;
}

.flex-form {
    display: flex;
}

.flex-form-item {
    flex: 1;
}

.mui-btn, button, input[type=button], input[type=reset], input[type=submit] {
    font-size: 16px;
    line-height: 1.42;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: 8px 12px;
    cursor: pointer;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    color: #333;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 0px;
    background-color: #fff;
    background-clip: padding-box;
}

.btn-blue {
    background: #51BFFE;
    color: #fff;
}

.btn-red {
    background: #FF5A5F;
    color: #fff;
}

.btn-red-alpha {
    border: 1px solid #FF5A5F;
    color: #FF5A5F;
    background: #F0F0F0;
}

.btn-grey {
    color: #fff;
    border: 1px solid #c7c7cc;
    background-color: #c7c7cc;
}

.color-red {
    color: #FF5A5F;
}

.mui-btn-block {
    margin-top: 2px;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
    margin-bottom: 0px;
    padding: 10px 0 20px 0;
    border-bottom: 0px;
}

.mui-bar-absolute {
    position: absolute;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell > a:not(.mui-btn) {
    margin: 0;
    padding: 0;
}

.mui-table-view-cell-nopad {
    position: relative;
    overflow: hidden;
    -webkit-touch-callout: none;
}

.list-item-desc {
    font-size: 14px;
    position: absolute;
    bottom: 3px;
    background: rgba(238, 238, 238, 0.66);
    padding: 15px 0px;
    height: 50px;
    width: 100%;
}

.list-item-desc span.span-item {
    padding: 0px 10px;
    border-right: 1px solid #777777;
}

.list-item-desc span.span-item-noborder {
    padding: 0px 10px;
}

.margin20-r {
    margin-right: 10px;
}

.margin20-b {
    margin-bottom: 20px;
}

div.tab-sub-nav {
    display: none;
    position: absolute;
    top: 73px;
    z-index: 999;
    width: 100%;
    background: #fff;
    height: 400px;
}

#locations ul {
    padding: 0 10px;
}

#choose ul {
    margin-top: 0px;
}

div.tab-sub-nav ul > li {
    list-style: none;
    text-align: center;
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

div.tab-sub-nav ul > li a {
    color: #000;
}

#locations ul > li.active a {
    color: #FF5A5F;
}

#locations ul > li.active {
    border-bottom: 1px solid #FF5A5F;
}

ul.tab-nav > li.active > a {
    color: #FF5A5F;
}

div.tab-nav-border {
    display: none;
}

ul.tab-nav > li > div.tab-nav-border {
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
    position: absolute;
    bottom: 0px;
}

ul.tab-nav > li.active > div.tab-nav-border {
    border-bottom: 1px solid #FF5A5F;
}

.choose-level-1 ul {
    padding: 0;
}

.choose-level-1 li {
    border: 1px solid #ddd;
}

.choose-level-1 li.active {
    background: #fff;
    border: 0px;
}

.choose-level-1 {
    background: #F0F0F0;
    height: 380px;
    width: 40%;
    float: left;
}

.choose-level-1 button {
    padding: 14px 0;
    font-size: 16px;
    width: 40%;
    position: absolute;
    bottom: 0;
}

.choose-level-2 {
    width: 60%;
    float: right;
}

.choose-level-2 button {
    padding: 15px 0;
    font-size: 16px;
    width: 60%;
    position: absolute;
    bottom: 0;
}

.choose-level-2 ul {
    overflow-y: auto;
    height: 340px;
    padding: 0 20px;
}

.choose-level-2 li.active > a {
    color: #FF5A5F;
}

.choose-level-2 li.active {
    border-bottom: 1px solid #FF5A5F;
    background: url('../imgs/select_icon.png') no-repeat right 10px center;
    background-size: 20px 20px;
}

.inline {
    display: block;
    vertical-align: middle;
    height: 45px;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    z-index: inherit;
}

.banner-count {
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 12px 5px;
    border-radius: 50%;
    color: #fff;
    margin-top: -70px;
    right: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    z-index: inherit;
}

.desc-item {
    padding-left: 65px;
    padding-top: 8px;

}

.margin5-b {
    margin-bottom: 5px;
}

.desc-item-1 {
    background: url("../imgs/fx_icon.png") no-repeat;
    background-position-x: 10px;
    background-size: 48px;
}

.desc-item-2 {
    background: url("../imgs/yjrs_icon.png") no-repeat;
    background-position-x: 10px;
    background-size: 48px;
}

.desc-item-3 {
    background: url("../imgs/time_icon.png") no-repeat;
    background-position-x: 10px;
    background-size: 48px;
}

.desc-item-4 {
    background: url("../imgs/yj_icon.png") no-repeat;
    background-position-x: 10px;
    background-size: 48px;
}

.bordered {
    border-bottom: 1px solid #cccccc;
    margin: 0 10px;
}

.local {
    background: url("../imgs/dw_icon.png") no-repeat;
    font-size: 15px;
    font-weight: 600;
    padding-left: 20px;
    margin: 30px 0px 0 10px;
}

.detail-footer {
    position: fixed;
    font-size: 16px;
    bottom: 0;
    width: 100%;
    background: #fff;
}

.order-footer {
    position: fixed;
    font-size: 16px;
    bottom: 0;
    width: 100%;
    background: #fff;
}

.left-btn {
    background: url("../imgs/riqi_icon.png") no-repeat;
    background-position-y: 10px;
    background-position-x: 10px;
    color: #FF5A5F;
    width: 65%;
    background-size: 42px;
    float: left;
    font-size: 13px;

    padding: 10px 20px 5px 55px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.left-btn-black {
    background: #505050;
    width: 65%;
    float: left;
    text-align: center;
    color: #fff;
    padding: 7px 20px 8px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.right-btn {
    cursor: pointer;
    width: 35%;
    background: #FF5A5F;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    float: right;
    height: 57px;
    text-align: center;
    padding-top: 18px;
}

.panel-btn {
    background: #F0F0F0;
    border: 1px solid #E2E2E2;
    text-align: center;
    font-size: 20px;
    padding: 12px;
}

.panel {
    margin-top: 20px;
    border: 1px solid #E2E2E2;
}

.panel > .panel-header {
    background: #F0F0F0;
    color: #979797;
    padding: 8px 10px;
}

.panel > .panel-body {
    padding: 10px 15px;
    font-size: 15px;
    background: #fff;
}

.with-navgate {
    background: url('../imgs/ic_jrxq.png') no-repeat;
    background-size: 32px;
    background-position: right;
}

.panel > .panel-footer {
    padding: 6px 10px;
    font-size: 15px;
    border-top: 1px solid #E2E2E2;
    background: #fff;
}

.color-grey {
    color: #B4B4B4;
}

.color-orage {
    color: #F58E26;
}

.nav-arrow {
    background-size: 32px;
    background: url('../imgs/ic_jrxq.png') no-repeat right;
    padding-right: 80px;
}

.day-header {
    margin-top: 15px;
    padding: 8px 10px;
    background: #fff;
    border: 1px solid #ddd;
}

.date-header {
    margin-top: 15px;
    padding: 8px 0;
    background: #e5e5e5;
    border: 1px solid #ddd;
}

.date-body {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;

}

.date {
    text-align: center;
    cursor: pointer;
    background: #e5e5e5;
    margin: 1px;
    height: 48px;
    padding: 12px 0;
}

.date.active {
    background: #FF5A5F;
    color: #fff
}

.date[disabled="true"] {
    opacity: 0.5;
}

.date-tip {
    display: block;
    font-size: 14px;
    margin-top: -5px;
    font-weight: 600;
}

#preNumBtn {
    background: url('../imgs/js_icon_per.png');
    background-size: 100%;
    width: 25px;
    height: 25px;
}

#nextNumBtn {
    background: url('../imgs/zj_icon_nor.png');
    background-size: 100%;
    width: 25px;
    height: 25px;
}

#numValue {
    width: 25px;
    height: 25px;
    margin-bottom: -20px;
    border: none;
    padding: 0px 0px 0px 10px;
}

.margin5-t {
    margin-top: 5px;
}

.form-pad {
    padding-top: 8px;
}

.margin20-t {
    margin-top: 20px;
}

input.border-red {
    border: 1px solid #FF5A5F;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dt,
dd {
    line-height: 1.5;
}

dt {
    font-weight: normal;
}

dd {
    margin-left: 0;
    color: #666;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal {
    margin-bottom: 0;
    margin-left: -80px;
}

.dl-horizontal dd {
    margin-left: 180px;
}

.dl-horizontal.dl-small dt{
    font-weight: normal;
}
.dl-horizontal.dl-small {
    font-size: 14px;
    margin-bottom: 0px;
}

.cancel-order {
    background-image: url("../imgs/jdt02_img.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30px;
}